{% extends "layout.html" %}

{% block title %}Edit profile{% endblock %}

{% block page_content %}

    <form method="post" action="{{ url_for('users_bp.edit_profile', name=current_user.username) }}">
      {{ form.hidden_tag() }}
        <div class="row">
            <div class="col">
          <div class="row">
              {{ form.username.label }}:
              {{ form.username(class="form-control") }}
          </div>
          <div class="row">
              {{ form.about_me.label }}
              {{ form.about_me(class="form-control") }}
          </div>
          <div class="row">
              {{ form.submit(class="btn btn-outline-success")}}
          </div>
                </div>
            </div>
    </form>

{% endblock %}