{% extends "layout.html" %}
{% block title %}profile{% endblock %}

{% block page_content %}
{% if user == current_user %}
    <div class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0">
            <a class="btn-outline-success" href="{{ url_for('users_bp.edit_profile', name=current_user.username) }}">
                Edit Profile
            </a>
        </button>
    </div>
{% endif %}



{% if user.username %}
<div class="container">
    <div class="row">
        <div class="col">
            <img src="/static/photos/{{ user.picture_filename }}" height="60%" width="50%">
        </div>
        <div class="col">
            <div class="row">
                username: {{user.username}}
            </div>
            <div class="row">
                name: {{ user.name }}
            </div>
            <div class="row">
                surname: {{ user.surname }}
            </div>
            <div class="row">
                birth date: {{ user.birth_date }}
            </div>
            <div class="row">
                about me: {{ user.about_me }}
            </div>
        </div>
    </div>
    {% if user.type == 'tutor' %}
    <div class="row">
        {% if user.degrees %}
        <div class="col">
            {% for d in user.degrees %}
                <div class="row">{{ d.name }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% if user.subjects %}
        <div class="col">
            {% for d in user.subjects %}
                <div class="row">{{ d.name }}</div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endif %}

{% endblock page_content %}
