{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block page_content %}

    <form method="post" action="{{ url_for('auth.login') }}">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
          <legend></legend>
          <div class="form-group">
              {{ form.email(class="form-control", placeholder="email") }}
              {% if form.email.errors %}
                  {% for err in form.email.errors %}
                      <span>{{ err }}</span>
                  {% endfor %}
              {% endif %}
          </div>
          <div class="form-group">
              {{ form.password(placeholder="password", class="form-control") }}
              {% if form.password.errors %}
                  {% for err in form.password.errors %}
                      <span>{{ err }}</span>
                  {% endfor %}
              {% endif %}
          </div>
          <div class="form-group">
              {{ form.remember_me }}
              {{ form.remember_me.label }}
              {% if form.remember_me.errors %}
                  {% for err in form.remember_me.errors %}
                      <span>{{ err }}</span>
                  {% endfor %}
              {% endif %}
          </div>
          <div class="form-group">
              {{ form.submit(class="btn btn-outline-success") }}
          </div>
      </fieldset>
    </form>

{% endblock %}