{% extends "layout.html" %}

{% block title %}LOGIN{% endblock %}






    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

<link href="{{ url_for('static/css', filename='signin.css') }}" rel="stylesheet">



{% block page_content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-3">


    <form class="form-signin" method="post" action="{{ url_for('auth.login') }}">
        {{ form.hidden_tag() }}
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        {{ form.email(id="inputEmail", class="form-control mb-1", placeholder="Email address") }}
        {% if form.email.errors %}
                  {% for err in form.email.errors %}
                      <span class="alert-danger">{{ err }}</span>
                  {% endfor %}
              {% endif %}
        {{ form.password(id="inputPassword", class="form-control mb-1", placeholder="Password") }}
         {% if form.password.errors %}
                  {% for err in form.password.errors %}
                      <span class="alert-danger">{{ err }}</span>
                  {% endfor %}
              {% endif %}
  <div class="checkbox mb-1">
      {{ form.remember_me }}
      {{ form.remember_me.label }}
      {% if form.remember_me.errors %}
                  {% for err in form.remember_me.errors %}
                      <span class="alert-danger">{{ err}}</span>
                  {% endfor %}
              {% endif %}
  </div>

        {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
</form>




        </div>
    </div>

</div>





{% endblock %}





