{% extends "layout.html" %}
{% block title %}REGISTRATION{% endblock %}

{% block page_content %}


<div class="container mt-5">
    <div class="row justify-content-center">


    <div class="form-inline my-2 my-lg-0 mr-5">

            <a class="btn btn-lg btn-primary btn-block" href="{{ url_for('auth.stud_reg') }}">
                Student
            </a>

    </div>

<div class="form-inline my-2 my-lg-0 ">

            <a class="btn btn-lg btn-primary btn-block" href="{{ url_for('auth.tutor_reg') }}">
                Tutor
            </a>

</div>


         </div>






{% endblock  %}
