{% extends "layout.html" %}

{% block title %}Register - student{% endblock %}

{% block page_content %}


<div class="container">
    <div class="row">

        <div class="col-2">
    <div class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0">
            <a class="btn-outline-success" href="{{ url_for('auth.stud_reg') }}">
                Student
            </a>
        </button>
    </div>
        </div>
        <div class="col">
  <div class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0">
            <a class="btn-outline-success" href="{{ url_for('auth.tutor_reg') }}">
                Tutor
            </a>
        </button>
    </div>
        </div>

        </div>
</div>




<form method="post" action="{{ url_for('auth.stud_reg') }}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col">
        {{ form.profile_picture(class="form-control-file", id="exampleFormControlFile1") }}
        </div>
    </div>
    {% if form.profile_picture.errors %}
                  {% for err in form.profile_picture.errors %}
                      <div class="col alert-danger">{{ err }}</div>
                  {% endfor %}
              {% endif %}
  <div class="row">
    <div class="col">
      {{ form.name(class="form-control", placeholder="name") }}
    </div>
    <div class="col">
      {{ form.surname(class="form-control", placeholder="surname") }}
    </div>
  </div>
    <div class="row">
         {% if form.name.errors %}
                  {% for err in form.name.errors %}
                      <div class="col alert-danger">{{ err }}</div>
                  {% endfor %}
              {% endif %}
         {% if form.surname.errors %}
                  {% for err in form.surname.errors %}
                      <div class="col alert-danger">{{ err }}</div>
                  {% endfor %}
              {% endif %}
    </div>
    <div class="row">
          <div class="col">
              {{ form.birth_date(class="form-control",placeholder="YYYY-MM-DD")}}
          </div>
          <div class="col">
              {{ form.city }}
          </div>
      </div>
    <div class="row">
         {% if form.birth_date.errors %}
                  {% for err in form.birth_date.errors %}
                      <div class="col alert-danger">{{ err }}</div>
                  {% endfor %}
              {% endif %}
        {% if form.city.errors %}
                  {% for err in form.city.errors %}
                      <div class="col alert-danger">{{ err }}</div>
                  {% endfor %}
              {% endif %}
    </div>

       <div class="row">
          <div class="col">
              {{ form.email(class="form-control",placeholder="email")}}
          </div>
          <div class="col">
              {{ form.username(class="form-control",placeholder="username")}}
          </div>
      </div>
    <div class="row">

        {% if form.email.errors %}
                  {% for err in form.email.errors %}
                      <div class="col alert-danger">{{ err }}</div>
                  {% endfor %}
              {% endif %}
         {% if form.username.errors %}
                  {% for err in form.username.errors %}
                      <div class="col alert-danger">{{ err }}</div>
                  {% endfor %}
              {% endif %}

    </div>


    <div class="row">
          <div class="col">
              {{ form.password(class="form-control",placeholder="password")}}
          </div>
          <div class="col">
              {{ form.password2(class="form-control",placeholder="confirm password")}}
          </div>
      </div>
    <div class="row">
    {% if form.password.errors %}
                  {% for err in form.password.errors %}
                      <div class="col alert-danger">{{ err }}</div>
                  {% endfor %}
              {% endif %}

        {% if form.password2.errors %}
                  {% for err in form.password2.errors %}
                      <div class="col alert-danger">{{ err }}</div>
                  {% endfor %}
              {% endif %}

    </div>





    <div class="row">
        <div class="col">
            {{ form.about_me(placeholder="about me", class="form-control") }}
        </div>
    </div>
    <div class="row">
        {% if form.about_me.errors %}
                  {% for err in form.about_me.errors %}
                      <div class="col alert-danger">{{ err }}</div>
                  {% endfor %}
              {% endif %}

    </div>
    <div class="row">
        {{form.submit(class="btn btn-outline-success")}}
    </div>
</form>



{% endblock %}