{% extends "layout.html" %}

{% block title %}TUTOR REGISTRATION{% endblock %}


{% block scripts  %}

<style>

    label{margin-left: 20px;}
#datepicker{width:180px; margin: 0 20px 20px 20px;}
#datepicker > span:hover{cursor: pointer;}









    .multipleChosen, .multipleSelect2{
  width: 300px;
}











</style>

<script type="text/javascript">





    $(function () {
  $("#datepicker").datepicker({
        autoclose: true,
        todayHighlight: true
  }).datepicker('update', new Date());
});












   $(document).ready(function(){
  //Chosen
  $(".multipleChosen").chosen({
      placeholder_text_multiple: "What's your rating" //placeholder
	});
  //Select2
  $(".multipleSelect2").select2({
		placeholder: "What's your rating" //placeholder
	});
})
















</script>


{% endblock %}



{% block page_content %}

<div class="container mt-1 mb-1">
    <div class="row justify-content-center">
        <div class="form-inline my-2 my-lg-0 mr-5">
            <a class="btn btn-lg btn-primary btn-block" href="{{ url_for('auth.stud_reg') }}">Student</a>
        </div>
        <div class="form-inline my-2 my-lg-0 ">
            <a class="btn btn-lg btn-primary btn-block" href="{{ url_for('auth.tutor_reg') }}">Tutor</a>
        </div>
    </div>





    <form method="post" action="{{ url_for('auth.tutor_reg') }}" enctype="multipart/form-data" class="mt-5 border border-primary rounded">
    {{ form.hidden_tag() }}
    <div class="row ml-5 mb-3 mt-3 justify-content-center">
        <div class="col">
        {{ form.profile_picture}}
        </div>
    </div>
    {% if form.profile_picture.errors %}
                  {% for err in form.profile_picture.errors %}
                      <div class="row ml-5 mb-3 mt-3 justify-content-center alert-danger">{{ err }}</div>
                  {% endfor %}
              {% endif %}
  <div class="row ml-2 mr-2 mb-1 ">
    <div class="col">
      {{ form.name(class="form-control", placeholder="name") }}
    </div>
    <div class="col">
      {{ form.surname(class="form-control", placeholder="surname") }}
    </div>
  </div>
    <div class="row ml-2 mr-2 mb-1">
         {% if form.name.errors %}
                  {% for err in form.name.errors %}
                      <div class="col alert-danger">{{ err }}</div>
                  {% endfor %}
              {% endif %}
         {% if form.surname.errors %}
                  {% for err in form.surname.errors %}
                      <div class="col alert-danger">{{ err }}</div>
                  {% endfor %}
              {% endif %}
    </div>
    <div class="row ml-4 mr-2 mb-1 mt-2">
          Birth Date:

           <div id="datepicker" class="input-group date" data-date-format="yyyy-mm-dd">
    {{ form.birth_date(class="form-control")}}
    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
</div>


        <div class="col col-md-7">
              {{ form.city }}
        </div>
      </div>







    <div class="row ml-2 mr-2 mb-1">
         {% if form.birth_date.errors %}
                  {% for err in form.birth_date.errors %}
                      <div class="col alert-danger">{{ err }}</div>
                  {% endfor %}
              {% endif %}
        {% if form.city.errors %}
                  {% for err in form.city.errors %}
                      <div class="col alert-danger">{{ err }}</div>
                  {% endfor %}
              {% endif %}
    </div>

       <div class="row ml-2 mr-2 mb-1">
          <div class="col">
              {{ form.email(class="form-control",placeholder="email")}}
          </div>
          <div class="col">
              {{ form.username(class="form-control",placeholder="username")}}
          </div>
      </div>
    <div class="row ml-2 mr-2 mb-1">

        {% if form.email.errors %}
                  {% for err in form.email.errors %}
                      <div class="col alert-danger">{{ err }}</div>
                  {% endfor %}
              {% endif %}
         {% if form.username.errors %}
                  {% for err in form.username.errors %}
                      <div class="col alert-danger">{{ err }}</div>
                  {% endfor %}
              {% endif %}

    </div>


    <div class="row ml-2 mr-2 mb-1">
          <div class="col">
              {{ form.password(class="form-control",placeholder="password")}}
          </div>
          <div class="col">
              {{ form.password2(class="form-control",placeholder="confirm password")}}
          </div>
      </div>
    <div class="row ml-2 mr-2 mb-1">
    {% if form.password.errors %}
                  {% for err in form.password.errors %}
                      <div class="col alert-danger">{{ err }}</div>
                  {% endfor %}
              {% endif %}

        {% if form.password2.errors %}
                  {% for err in form.password2.errors %}
                      <div class="col alert-danger">{{ err }}</div>
                  {% endfor %}
              {% endif %}

    </div>





    <div class="row ml-2 mr-2 mb-1">
        <div class="col">
            {{ form.about_me(placeholder="about me", class="form-control") }}
        </div>
    </div>




    <div class="row ml-2 mr-2 mb-1">
        {% if form.about_me.errors %}
                  {% for err in form.about_me.errors %}
                      <div class="col alert-danger">{{ err }}</div>
                  {% endfor %}
              {% endif %}

    </div>



    <div class="row ml-4 mr-2 mb-1 ">
        <div class="col-2">
            <div class="row ">
            {{ form.degrees.label() }}:
            </div>
            <div class="row ">


                {{ form.degrees(class="rounded") }}

            </div>
        </div>

        <div class="col-2 ml-2">
            <div class="row">
            {{ form.subjects.label }}:
            </div>
            <div class="row">
            {{ form.subjects(class="rounded") }}
            </div>
        </div>
        <div class="col mt-5">
            {{form.pay_rate.label}}: {{form.pay_rate(placeholder="€0.0", class="rounded")}}
        </div>
    </div>

    <div class="row mb-1 justify-content-center">
        {% if form.degrees.errors %}
                  {% for err in form.degrees.errors %}
                      <div class="col alert-danger">{{ err }}</div>
                  {% endfor %}
              {% endif %}
        {% if form.subjects.errors %}
                  {% for err in form.subjects.errors %}
                      <div class="col alert-danger">{{ err }}</div>
                  {% endfor %}
              {% endif %}

    </div>



        <div class="dropdown-divider border border-primary"></div>

        <h4> Availability: </h4>


        <div class="row ml-2 mr-2 mb-3 mt-3 justify-content-center">


            <div class="col">
                <div class="row">
                    {{ form.mon_av_hours_slot.label }}:
                </div>
                <div class="row">
                    {{ form.mon_av_hours_slot(class="rounded") }}
                </div>
            </div>


            <div class="col">
                <div class="row">
                    {{ form.tue_av_hours_slot.label }}:
                </div>
                <div class="row">
                    {{ form.tue_av_hours_slot(class="rounded") }}
                </div>
            </div>


            <div class="col">
                <div class="row">
                    {{ form.wed_av_hours_slot.label }}:
                </div>
                <div class="row">
                    {{ form.wed_av_hours_slot(class="rounded") }}
                </div>
            </div>



            <div class="col">
                <div class="row">
                    {{ form.thu_av_hours_slot.label }}:
                </div>
                <div class="row">
                    {{ form.thu_av_hours_slot(class="rounded") }}
                </div>
            </div>




      <div class="col">
                <div class="row">
                    {{ form.fri_av_hours_slot.label }}:
                </div>
                <div class="row">
                    {{ form.fri_av_hours_slot(class="rounded") }}
                </div>
            </div>



    <div class="col">
                <div class="row">
                    {{ form.sat_av_hours_slot.label }}:
                </div>
                <div class="row">
                    {{ form.sat_av_hours_slot(class="rounded") }}
                </div>
            </div>

<div class="col">
                <div class="row">
                    {{ form.sun_av_hours_slot.label }}:
                </div>
                <div class="row">
                    {{ form.sun_av_hours_slot(class="rounded") }}
                </div>
            </div>




</div>






        <div class="row ml-2 mr-2 mb-2 justify-content-center">

        {{form.submit(class="btn btn-primary")}}

    </div>




    </form>

</div>






{% endblock %}