{% extends "layout.html" %}
{% block title %}stud - past lessons{% endblock %}

{% block page_content %}


{% if not lessons %}
<p class="alert-danger">There are no attended lessons</p>
{% endif%}
{% if  lessons %}
<div class="container">
    <div class="row">

        <div class="col">


            <table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Tutor</th>
             </tr>
    </thead>
    <tbody>

    {%for t in tut_usernames %}
    <tr>
        <td>
           <a href="/user/{{t}}">{{t}}</a>
        </td>
    </tr>
    {% endfor %}




    </tbody>
            </table>

        </div>

        <div class="col">

            <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Subject</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

  {%for l in lessons %}

  <tr>

      <td>

          {{l.date}}


      </td>

      <td>

          {{l.subject_name}}

      </td>


      <td>
          {% if not l.review%}
          <a href="/user/{{current_user.username}}/review_lesson/{{l.id}}">Review it</a>
          {% endif %}
      </td>


  </tr>




  {% endfor %}





</tbody>
</table>

        </div>




    </div>

</div>
{% endif%}


{% endblock  %}
