{% extends "layout.html" %}
{% block title %}book lesson{% endblock %}

{% block page_content %}

    {% if tutor %}
{% if not tutor.day_av_slots %}
<p class="alert-danger">The tutor is not available at any time</p>
{% endif %}
        {% if tutor.day_av_slots %}
<p>The tutor is available</p>
            {% for a in tutor.day_av_slots %}
                <p>on {{ a.week_day }} - during these time slots
                    {% if a.slot1 %} 7-8 {% endif %} {% if a.label %}8-9 {% endif %}
                    {% if a.slot3 %}9-10 {% endif %} {% if a.slot4 %}10-11 {% endif %}
                    {% if a.slot5 %}11-12 {% endif %} {% if a.slot6 %}12-13 {% endif %}
                    {% if a.slot8 %}13-14 {% endif %} {% if a.slot9 %}14-15 {% endif %}
                    {% if a.slot10 %}16-17 {% endif %} {% if a.slot11 %}17-18 {% endif %}
                    {% if a.slot12 %}18-19 {% endif %}
                </p>
            {% endfor %}
        {% endif %}
    {% endif %}

    <form method="post" action="{{ url_for('users_bp.book_lesson', username=current_user.username, tutor_username=tutor_username) }}">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
          <legend></legend>
          <div class="form-group">
              <div class="row">
                  <div class="col">
                      {{ form.subject.label }}:
                      {{ form.subject }}
                  </div>
                  {% if form.subject.errors %}
                  {% for err in form.subject.errors %}
                      <div class="col alert-danger">{{ err }}</div>
                  {% endfor %}
              {% endif %}
                  <div class="col">

                  </div>
              </div>
              <div class="row">
                  <div class="col">
                  {{ form.day.label }}:
                   {{ form.day(class="control-form", placeholder="YYYY-MM-DD") }}
                  </div>
                  {% if form.day.errors %}
                  {% for err in form.day.errors %}
                      <div class="col alert-danger">{{ err }}</div>
                  {% endfor %}
              {% endif %}
              </div>
              <div class="row">
                  <div class="col">
                      {{ form.time.label }} slots:
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      {{ form.time }}
                  </div>
                   {% if form.time.errors %}
                  {% for err in form.time.errors %}
                      <div class="col alert-danger">{{ err }}</div>
                  {% endfor %}
              {% endif %}
              </div>
              <div class="row">
                  <div class="col">
                  {{ form.submit(class="btn btn-outline-success") }}
                      </div>
              </div>
          </div>
      </fieldset>
    </form>
{% endblock  %}