{% extends "layout.html" %}
{% block title %}review lesson{% endblock %}

{% block page_content %}
    <form method="post" action="/user/{{current_user.username}}/review_lesson/{{lesson_id}}">
        {{ form.hidden_tag() }}
          <legend></legend>
        <div class="row">
          <div class="col">
              {{ form.comment.label }}:
              {{ form.comment(class="form-control") }}
              {% if form.comment.errors %}
                  {% for err in form.comment.errors %}
                      <div class="col alert-danger">{{ err }}</div>
                  {% endfor %}
              {% endif %}
          </div>
            <div class="col">
              {{ form.score.label }}:
              {{ form.score(class="form-control", placeholder="A number within 1 and 10") }}
              {% if form.score.errors %}
                  {% for err in form.score.errors %}
                      <div class="col alert-danger">{{ err }}</div>
                  {% endfor %}
              {% endif %}
          </div>
            </div>
        <div class="row">
                    <div class="col">
            {{ form.submit(class="btn btn-outline-success") }}
        </div>
        </div>
    </form>

{% endblock  %}