{% extends "layout.html" %}
{% block title %}HOME{% endblock %}

{% block page_content %}



<div class="container ">



    <!-- FIRST ROW -->

    <div class="row ">

        <div class="col col-sm-6 text-uppercase">
            you are struggling with your study load
        </div>

        <div class="col col-sm-6">


            <img class="rounded" src="/static/photos/exams.jpg" width="60%" height="60%"  alt="exams " >



        </div>









        <div class="col col-sm-6">

            <img class="rounded" src="/static/photos/logo_pic.png" width="60%" height="60%"  alt="logo pic " >

        </div>


        <div class="col col-sm-6 text-uppercase">

            join ELoC

        </div>





        <div class="col col-sm-6 text-uppercase">

            find a tutor and pass your exams

        </div>



        <div class="col col-sm-6">



            <img class="rounded" src="/static/photos/tutor.jpeg" width="60%" height="60%"  alt="tutor " >








    </div>














</div>



{% endblock page_content %}

